body {
    background-color: #503fa0;
}

.controlBtn {
    color: white;
    background-color: #6495ed;
    width: 64px;
}

.standardBtn {
    background-color: #6495ed;
}

.circularBtn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #32bb84;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}